### Java ###
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Temporary DCSA generated resources ###
/generated-resources/standards/**/*.xlsx
/generated-resources/standards/booking/v20*/*.yaml
/generated-resources/standards/cs/v10*/*.yaml
/generated-resources/standards/ebl/v30*/*.yaml
/generated-resources/standards/ovs/v30*/*.yaml
/tmp/
