### Java ###
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Temporary DCSA generated resources ###
/generated-resources/standards/**/*.xlsx
/generated-resources/standards/ebl/v300/*.csv
/generated-resources/standards/ebl/v300/*.yaml
