name: Action

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Print commit sha
        shell: bash
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "sha: $COMMIT_SHA"

      - name: Set up Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 25
          cache: 'maven'

      - name: mvn package
        run: |
          mvn package -B -V
